---
- block:
    - name: Get lxd version
      shell: "{{ lxd_bin_folder }}/lxd --version"
      register: lxd_version_result
      changed_when: false

    - name: Wait for socket file
      wait_for:
        path: /var/snap/lxd/common/lxd/unix.socket
        state: present
        timeout: 180

    - name: Configuration for Feature version
      include_tasks: configure-feature.yml
      when: "lxd_version_result.stdout | version_compare('2.20', '>=')"

    - name: Configuration for LTS version
      include_tasks: configure-lts.yml
      when: "lxd_version_result.stdout | version_compare('2.20', '<=')"

    - name: Create LXD profiles
      lxd_profile:
          name: "{{ item.name }}"
          state: "present"
          config: "{{ item.config | default({}) }}"
          devices: "{{ item.devices | default({}) }}"
          description: "{{ item.description }}"
          url: "{{ lxd_url }}"
      with_items: "{{ lxd_profiles }}"
      when: "lxd_profiles is defined"
  tags: lxd_config
...
