---
- block:
    - name: Install LXD
      include_tasks: "install.yml"
      tags: lxd_install

    - name: Configure LXD
      include_tasks: "configure.yml"
      tags: lxd_config

    - name: Deploy LXD containers
      include_tasks: "containers.yml"
      tags: lxd_deploy
  tags: lxd
