---
- name: Inclusion des variables OS specific
  include_vars: "{{ ansible_distribution }}{{ ansible_distribution_major_version }}.yml"

- name: Installation des packages lxd
  apt:
    name: "{{ item }}"
    state: latest
    default_release: "{{ lxd_deploy_apt_default_release }}"
    update_cache: yes
  with_items:
    - lxd
    - lxd-client
    - yum

- name: Création du storage default
  shell: "echo root:1000000:65536 >> /etc/subuid"
  changed_when: false
  ignore_errors: true

- name: Création du storage default
  shell: "echo root:1000000:65536 >> /etc/subgid"
  changed_when: false
  ignore_errors: true

- name: Création du storage default
  shell: "lxc storage create default dir source=/var/lib/lxd/storage-pools/default"
  changed_when: false
  ignore_errors: true

- name: Création des networks
  lxd_network:
    name: "{{ item.name }}"
    state: "present"
    config: "{{ item.config }}"
    description: "{{ item.description }}"
  with_items: "{{ lxd_deploy_networks }}"

- name: Création des profiles
  lxd_profile:
    name: "{{ item.name }}"
    state: "present"
    config: "{{ item.config }}"
    devices: "{{ item.devices }}"
    description: "{{ item.description }}"
  with_items: "{{ lxd_deploy_profiles }}"

- name: test
  shell: "lxc launch ubuntu:16.04"

- name: Création des containers
  lxd_container:
    name: "{{ item.name }}"
    state: started
    source:
      type: image
      mode: pull
      server: https://images.linuxcontainers.org
      protocol: lxd
      alias: "{{ item.alias }}"
    profiles: "{{ item.profiles }}"
    wait_for_ipv4_addresses: true
  with_items: "{{ lxd_deploy_containers }}"
  register: add_lxd_container

